# ============================================================
# Docker ignore pour le frontend
# ============================================================

dist/
node_modules/
.angular/
.idea/
*.iml
.git/
.gitignore
README.md
Dockerfile
.dockerignore
*.log
.env
.env.*